body{
    margin: 0;
}
#wrapper {
    overflow: hidden;
    width: 100vw;
    width: 100svw;
    height: 100vh;
    height: 100svh;
    position: relative;
}

.in-wrapper{
    position: absolute;
}
canvas {
    height: 100%;
    width: 100%;
    cursor: grab;
}

#loadscreen{
    background-color: #4B8BE5;
    transition: opacity 0.3s ease-out;
    opacity: 1;
    width: 100vw;
    height: 100svh;
    z-index: 20;
}

#loadscreen.fadeout{
    opacity: 0;
}

#voyage-text {
    text-align: center;
    color: rgb(35, 35, 35);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.25;
    font-weight: 600;
    font-style: normal;
    top: 30vh;
    left: 50vw;
    width: 90vw;
    transform: translate(-50%,-35%);
    z-index: 10;
}

#movehint {
    text-align: center;
    color: rgb(35, 35, 35);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.25;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5em;
    top: 50vh;
    left: 50vw;
    width: 90vw;
    transform: translate(-50%,-35%);
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-in;
}

#movehint.fadein {
    opacity: 1
}



#icon-container {
    display: flex;
    justify-content: space-evenly;
    bottom: 2px;
    right: 10px;
    width: 120px;
    height: 70px;
    z-index: 10;
    /* border: solid; */
    
    
}
button:focus {outline:0;}
.icon {
    margin: auto;
    width: 45px; 
    height: 45px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    border: 0;

}
.icon:hover
{
    transform: scale(1.1);
}
.icon img
{
    position:absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin: auto;
}

.bar-button{
  position:absolute;
  top: 50%;
  left: 50%;
  width: 325px;
  height: 80px;
  transform: translate(-50%, -50%);
  background-color: #2a71d5;
  color:white;
  border: 0;
  border-radius: 999px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
} 

#progress-bar {
    z-index: 11;
}
#progress-bar-text {
    position: absolute;
    border-radius: 999px;
    color: rgb(35, 35, 35);
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 80px;  
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 600;
    z-index: 12;

}
#progress-fill
{
  position: absolute;
  border-radius: 999px;
  height:100%;
  width:0%;
  background-color: white;
  z-index: 11;
}

#start-button
{
    text-align: center;
    background-color:  #016FBE;
    line-height: 70px;  
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 600;
    z-index: 10;
}


#start-button:hover
{
    background-color: white;
    color: rgb(35, 35, 35);
}

#project-browser-button{
    top: 25%;
    left: 50%;
    width: 225px;
    height: 41px;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 999px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    
    text-align: center;
    background-color: #2a71d5;
    color:white;
    line-height: 40px;  
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    z-index: 10;
}
#project-browser-button:hover {
    background-color: white;
    color: rgb(35, 35, 35);
}

#linkedin-button{
    top: 25%;
    left: 50%;
    width: 225px;
    height: 41px;
    transform: translate(-105%, -50%);
    border: 0;
    border-radius: 999px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    
    text-align: center;
    background-color: #2a71d5;
    color:white;
    line-height: 40px;  
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    z-index: 10;
}

#resume-button{
    top: 25%;
    left: 50%;
    width: 225px;
    height: 41px;
    transform: translate(-0%, -50%);
    border: 0;
    border-radius: 999px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    
    text-align: center;
    background-color: #2a71d5;
    color:white;
    line-height: 40px;  
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    z-index: 10;
}
#linkedin-button:hover, #resume-button:hover {
    background-color: white;
    color: black;
}

#linkedin-button a, #resume-button a {
    color: inherit;
    text-decoration: none;
}

