#wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.in-wrapper{
    position: absolute;
}

#loadscreen{
    background-color: #4B8BE5;
    transition: opacity 0.2s;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    z-index: 11;
}

#loadscreen.fadeout{
    opacity: 0;
}

#voyage-text {
    text-align: center;
    color: rgb(35, 35, 35);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.25;
    font-weight: 600;
    font-style: normal;
    top: 30vh;
    left: 50vw;
    width: 90vw;
    transform: translate(-50%,-35%);
    z-index: 10;
}

#icon-container {
    display: flex;
    top: 90vh;
    left: 85vw;
    width: 14vw;
    height: 9vh;
    z-index: 10;
    /* border: solid; */
}
.icon {
    aspect-ratio : 1 / 1;
    margin: auto;
    border-radius: 50%;
    width: 6vmin;
    background-color: white;
    position: relative;
}
.icon:hover
{
    transform: scale(1.1);
}
.icon img
{
    position:absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin: auto;
}

.bar-button{
  position:absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 100px;
  transform: translate(-50%, -50%);
  background-color: #2a71d5;
  color:white;
  border: 0;
  border-radius: 999px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
} 

#progress-bar {
    z-index: 11;
}
#progress-bar-text {
    position: absolute;
    border-radius: 999px;
    color: rgb(35, 35, 35);
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 100px;  
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 600;
    z-index: 12;

}
#progress-fill
{
  position: absolute;
  border-radius: 999px;
  height:100%;
  width:0%;
  background-color: white;
  z-index: 11;
}

#start-button
{
    text-align: center;
    background-color:  #016FBE;
    line-height: 100px;  
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 600;
    z-index: 10;
}


#start-button:hover
{
    background-color: white;
    color: rgb(35, 35, 35);
}
