#wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}
#voyage-text, #b, #icon-container {
    position: absolute;
}

#voyage-text {
    text-align: center;
    color: rgb(35, 35, 35);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.25;
    font-weight: 600;
    font-style: normal;
    top: 30vh;
    left: 50vw;
    width: 90vw;
    transform: translate(-50%,-35%);
    z-index: 10;
}

#icon-container {
    display: flex;
    top: 90vh;
    left: 85vw;
    width: 14vw;
    height: 9vh;
    z-index: 10;
    /* border: solid; */
}
.icon {
    aspect-ratio : 1 / 1;
    margin: auto;
    border-radius: 50%;
    width: 6vmin;
    background-color: white;
    position: relative;
    /* border: solid; */
}
.icon:hover
{
    transform: scale(1.1);
}
.icon img
{
    position:absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin: auto;
    /* border: solid; */
}